.length_selection {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 3rem;
}

.length_card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    color: var(--background-color);
}

.length_card.selected {
    background-color: var(--hover-color);
    color: var(--text-color);
    font-weight: 700;
}

.length_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: var(--hover-color);
}

.length_card_name {
    font-size: 16px;
}