.project-history {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 0px;
    padding-top: 20px;
}

@media (max-width: 480px) {
    .project-history {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        padding: 0 10px;
    }
}

.project-history__no-project-history {
    text-align: center;
    padding: 40px 20px;
    color: #34495e;
    background-color: #f0f3f4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-history__no-project-history-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #8e44ad;
    margin-bottom: 20px;
}

.project-history__no-project-history h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-history__no-project-history p {
    font-size: 18px;
}

@media (max-width: 480px) {
    .project-history__no-project-history h2 {
        font-size: 20px;
    }

    .project-history__no-project-history p {
        font-size: 16px;
    }
}