.project_history {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 2rem;
}

@media (max-width: 480px) {
    .project_history {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        padding: 0 10px;
    }
}