.loading_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    perspective: 1000px;
    overflow: hidden;
}

.space {
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    animation: moveSpace 20s linear infinite;
}

@keyframes moveSpace {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 500px 0;
    }
}

.earth {
    background-color: #3498db;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/The_Earth_seen_from_Apollo_17.jpg/640px-The_Earth_seen_from_Apollo_17.jpg');
    background-size: cover;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 1;
}

.text_container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nucleus {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 2;
}

.path-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.path {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: absolute;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.electron {
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #5f2c82, #49a09d);
    border-radius: 50%;
    position: absolute;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3);
}

.electron_1 {
    background-color: #e74c3c;
}

.electron_2 {
    background-color: #2ecc71;
}

.electron_3 {
    background-color: #f1c40f;
}

.electron_4 {
    background-color: #9b59b6;
}

.electron_5 {
    background-color: #3498db;
}

.electron_6 {
    background-color: #1abc9c;
}

.electron_7 {
    background-color: #e67e22;
}

.electron_8 {
    background-color: #34495e;
}

.loading_text {
    color: white;
    font-size: 24px;
    margin: 10px 0;
    text-align: center;
    opacity: 0;
    animation: moveText 12s ease-in-out infinite;
}

@keyframes moveText {

    0%,
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }

    20%,
    30% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes electron1 {
    0% {
        transform: rotateX(30deg) rotate(0deg) translate(200px) rotate(-0deg);
    }

    100% {
        transform: rotateX(30deg) rotate(360deg) translate(200px) rotate(-360deg);
    }
}

@keyframes electron2 {
    0% {
        transform: rotateX(60deg) rotate(120deg) translate(300px) rotate(-120deg);
    }

    100% {
        transform: rotateX(60deg) rotate(480deg) translate(300px) rotate(-480deg);
    }
}

@keyframes electron3 {
    0% {
        transform: rotateX(90deg) rotate(240deg) translate(250px) rotate(-240deg);
    }

    100% {
        transform: rotateX(90deg) rotate(600deg) translate(250px) rotate(-600deg);
    }
}

@keyframes electron4 {
    0% {
        transform: rotateX(120deg) rotate(360deg) translate(350px) rotate(-360deg);
    }

    100% {
        transform: rotateX(120deg) rotate(720deg) translate(350px) rotate(-720deg);
    }
}

@keyframes electron5 {
    0% {
        transform: rotateX(150deg) rotate(480deg) translate(400px) rotate(-480deg);
    }

    100% {
        transform: rotateX(150deg) rotate(840deg) translate(400px) rotate(-840deg);
    }
}

@keyframes electron6 {
    0% {
        transform: rotateX(180deg) rotate(600deg) translate(450px) rotate(-600deg);
    }

    100% {
        transform: rotateX(180deg) rotate(960deg) translate(450px) rotate(-960deg);
    }
}

@keyframes electron7 {
    0% {
        transform: rotateX(210deg) rotate(720deg) translate(500px) rotate(-720deg);
    }

    100% {
        transform: rotateX(210deg) rotate(1080deg) translate(500px) rotate(-1080deg);
    }
}

@keyframes electron8 {
    0% {
        transform: rotateX(240deg) rotate(840deg) translate(550px) rotate(-840deg);
    }

    100% {
        transform: rotateX(240deg) rotate(1200deg) translate(550px) rotate(-1200deg);
    }
}

.electron_1 {
    animation-name: electron1, pulse;
    animation-delay: 0s, 1s;
}

.electron_2 {
    animation-name: electron2, pulse;
    animation-delay: 0s, 1.2s;
}

.electron_3 {
    animation-name: electron3, pulse;
    animation-delay: 0s, 1.4s;
}

.electron_4 {
    animation-name: electron4, pulse;
    animation-delay: 0s, 1.6s;
}

.electron_5 {
    animation-name: electron5, pulse;
    animation-delay: 0s, 1.8s;
}

.electron_6 {
    animation-name: electron6, pulse;
    animation-delay: 0s, 2s;
}

.electron_7 {
    animation-name: electron7, pulse;
    animation-delay: 0s, 2.2s;
}

.electron_8 {
    animation-name: electron8, pulse;
    animation-delay: 0s, 2.4s;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.1), 0 0 10px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
    }

    50% {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 25px rgba(255, 255, 255, 0.5), 0 0 35px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.1), 0 0 10px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
    }
}

.loading_text_1 {
    animation-delay: 0s;
}

.loading_text_2 {
    animation-delay: 4s;
}

.loading_text_3 {
    animation-delay: 8s;
}