.app_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.area_split {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    background-color: var(--background-color-3);
}

@media screen and (max-width: 768px) {
    .area_split {
        flex-direction: column;
    }
}
