:root {
    --cardWidth: 400px;
    --rem: 14px;
    font-size: 14px;
}

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #FFFFFF;
    overflow-y: auto;
    height: 100%;
    border-right: 0.5px solid #dfdfdf;
}

.editor {
    cursor: text;
    min-height: 200px;
    padding: 10px;
}

.public-DraftStyleDefault-ltr {
    color: rgb(14, 16, 26);
    font-size: calc(1.3 * var(--rem));
    font-weight: 400;
    letter-spacing: calc(0 * var(--rem));
    line-height: calc(2.1 * var(--rem));
}

.row-alignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.paragraph {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5;
    outline: none;
    padding: 1rem;
}

.paragraph h1,
.paragraph h2,
.paragraph h3,
.paragraph h4 {
    font-size: 1.4rem;
}

.paragraph p {
    font-size: 1.2rem;
}

.paragraph ul {
    font-size: 1.2rem;
    list-style-type: disc;
}

.paragraph li {
    margin-bottom: 20px;
}


@media (max-width: 1279px) {
    .link-box {
        padding: calc(var(--rem) * 0.4);
    }

    .right-part {
        padding: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .formatted-content-display {
        padding: 0.5rem;
    }

    .paragraph {
        font-size: 1rem;
    }
}