.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.area-split {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    background-color: #F5F7FA;
}

@media screen and (max-width: 768px) {
    .area-split {
        flex-direction: column;
    }
}
