.right-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #F7F7F7;
    overflow-y: auto;
}

.content-review {
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.row-alignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.menu-icon,
.close-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.title {
    font-size: 2rem;
    margin: 0;
}

.formatted-content-display {
    border: 2px solid #CCCCCC;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

.row-container{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    top: -2rem;
}

.paragraph {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5;
    outline: none;
    padding: 1rem;
}

.paragraph h1,
.paragraph h2,
.paragraph h3,
.paragraph h4{
    font-size: 1.4rem;
}

.paragraph p{
    font-size: 1.2rem;
}

.paragraph ul{
    font-size: 1.2rem;
    list-style-type: disc;
}

.paragraph li{
    margin-bottom: 20px;
}

.formatting-button {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.formatting-button.active {
    background-color: #CCCCCC;
}

.save-and-export-options {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.save-and-export-options-without-sidebar {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.copy-button{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.copy-button:hover{
    background-color: #CCCCCC;
    color: #FFFFFF;
}

.save-button,
.export-button,
.share-button {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 1rem;
}

.save-button:hover,
.export-button:hover,
.share-button:hover {
    background-color: #CCCCCC;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .right-part {
        padding: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .formatted-content-display {
        padding: 0.5rem;
    }

    .paragraph {
        font-size: 1rem;
    }

    .formatting-button {
        font-size: 0.8rem;
        padding: 0.3rem;
    }


    .copy-button{
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
    }

    .save-button,
    .export-button,
    .share-button {
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
    }
}