.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--divider-color);
    padding: 8px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.close_button_social_media_dialog {
    position: absolute;
    right: 16px;
    top: 8px;
    background-color: transparent;
    border: none;
    font-size: 36px;
    cursor: pointer;
    color: var(--text-color);
}

.title_social_media_dialog {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: var(--text-color);
}