.url_input_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.url_type_input_container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
}

.url_box {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--text-color);
    color: var(--background-color);
    border: 1px solid var(--background-color);
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.remove_url {
    margin-left: 0.5rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: var(--background-color);
    cursor: pointer;
    transition: color 0.2s;
}

.remove_url:hover {
    color: #757575;
}

.url_input {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    outline: none;
    background-color: #f5f5f5;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    transition: box-shadow 0.2s;
}

.url_input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
}

.url_error {
    color: red;
    font-size: 0.9rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.url_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
}