.ai-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: #e7d1d100;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.ai-bot-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* Add this line */
    margin-right: 10px;
    margin-left: 5px;
}

.chat-header {
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
    background: linear-gradient(to right, #007bff, #00bcd4);
    width: 100%;
    padding: 10px;
    border-radius: 0rem 0rem 0 0;
}

.ai-bot-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
}

.ai-model-name {
    font-weight: bold;
    margin-left: 0.5rem;
    color: #fff;
}

.online {
    color: #fff;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    padding: 0.6rem;
}

.chat-window {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.0);
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    max-width: 80%;
}

.message.user {
    align-self: flex-end;
    background-color: #0084ff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.message.ai {
    align-self: flex-start;
    background-color: #e6f7ff;
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.space.ai {
    align-self: flex-start;
    background-color: #ffffff00;
    color: #ffffff00;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 10rem;
}

.input-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.user-input {
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: 1.5rem;
    border: 2px solid #ced4da;
    margin-right: 0.5rem;
    outline: none;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s, box-shadow 0.2s;
}

.user-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}


.submit-button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-button:hover {
    background-color: #0069d9;
}

.message-info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    justify-content: space-between;
}


.message-username {
    font-weight: bold;
    margin-right: 0.5rem;
}

.message-timestamp {
    color: #777;
}

.message-content {
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.message.user .message-username {
    color: #fff;
}

.message.ai .message-username {
    color: #000;
}

.message.user .message-content {
    align-self: flex-end;
    background-color: #0084ff;
    color: #fff;
}

.message.ai .message-content {
    align-self: flex-start;
    background-color: #e6f7ff;
    color: #000;
}
