.pipeline_selection {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.pipeline_option {
    display: flex;
    gap: 1rem;
    align-items: start;
    cursor: pointer;
    margin-bottom: 2rem;
    width: 50%;
}

.pipeline_checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 2px solid var(--hover-color);
    border-radius: 4px;
}

.checkbox_inner {
    width: 10px;
    height: 10px;
    background-color: var(--hover-color);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 2px;
    display: none;
}

.pipeline_text .pipeline_title {
    font-size: 18px;
    font-weight: bold;
}

.pipeline_text .pipeline_subtitle {
    font-size: 14px;
    color: #757575;
    word-wrap: break-word;
}

.pipeline_option.selected .checkbox_inner {
    display: block;
}