.social_media_post_dialog_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 300ms ease-in-out;
}

.social_media_post_dialog {
    position: relative;
    margin: 2.5rem auto;
    border-radius: 20px;
    background-color: var(--background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 65%;
    min-width: 320px;
    height: 90%;
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 0rem;
}

.social-media-post-dialog-close {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.dialog_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: calc(100% - 3rem);
    overflow: hidden;
    padding-top: 0rem;
}
