.features {
    height: 40%;
    background-color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-heading {
    font-family: sans-serif;
    font-weight: 700;
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #1E1E1E;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.feature-list {
    margin-top: 20px;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-item {
    width: 25%;
    background-color: #F2F2F2;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.feature-item-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a5bbda;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.feature-item-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #1E1E1E;
    text-align: left;
}

.feature-item-description {
    max-height: 4.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5;
    color: #555555;
    text-align: left;
}