.explore__key-features {
    background-color: #ffffff;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.explore__key-features__title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    margin-top: 30px;
}

.explore__key-features__key-feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore__key-features__key-feature-list {
    padding: 0rem;
    margin: 0rem;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.explore__key-features__key-feature-item {
    width: 22%;
    background-color: #F2F2F2;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 0rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-right: 20px;
}