:root {
  --dashboard-bg-color: #f0f2f5;
  --new-project-title-color: #333;
  --options-component-bg-color: linear-gradient(135deg, #9acfea 0%, #ff9a9e 100%);
  --options-component-text-color: #ffffff;
  --options-component-divider-color: #e0e0e0;
  --box-shadow-light: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar__desktop_view {
  display: flex;
  width: 100%;
  max-width: 250px;
}

.dashboard__hamburger-icon {
  display: none;
  align-items: center;
  position: initial;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.sidebar__mobile_view {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  padding: 0rem;
  justify-content: center;
  /* Add transition for the transform property */
  transition: transform 0.3s ease-in-out;
}

.sidebar__mobile_view.open {
  display: flex;
}

.sidebar__mobile_view--close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: white;
}

.dashboard__ai-selection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.dashboard__ai-select {
  border: 2px solid #333;
  background-color: transparent;
  color: #333;
  font-size: 18px;
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
}

.dashboard__ai-select:hover,
.dashboard__ai-select:focus {
  border-color: #777;
  color: #777;
}

.dashboard__background-blur {
  filter: blur(5px);
  pointer-events: none;
}

.dashboard__dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  overflow-y: scroll;
  background-color: var(--dashboard-bg-color);
}

.dashboard__dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard__dashboard-documents {
  flex: 1;
  margin-bottom: 3rem;
  width: 100%;
}

.dashboard__dashboard-documents h2 {
  font-size: 28px;
  font-weight: bold;
  color: var(--new-project-title-color);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.dashboard__dashboard-documents-upload {
  width: 100%;
}

.dashboard__dashboard-options-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dashboard__dashboard-options-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px 10px;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.dashboard__dashboard-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.dashboard__options-component-upload-child {
  margin-top: 8px;
  height: 40px;
}

.dashboard__option-icon {
  font-size: 14px;
  margin-right: 0.5rem;
  color: var(--options-component-text-color);
}

/* Add animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-width: 1024px) {
  .dashboard__dashboard-options-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .dashboard__option-icon {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .dashboard__hamburger-icon {
    display: flex;
  }

  .dashboard__ai-selection {
    position: initial;
    justify-content: space-between;
    z-index: 0;
  }

  .sidebar__mobile_view {
    display: flex;
  }

  .sidebar__desktop_view {
    display: none;
  }

  .dashboard__dashboard-options-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .dashboard__option-icon {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .dashboard__dashboard-options-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .dashboard__option-icon {
    font-size: 0.8rem;
  }
}


@media screen and (max-width: 425px) {
  .dashboard__dashboard-main {
    padding: 1rem;
  }

  .dashboard__dashboard-documents h2 {
    font-size: 24px;
    margin-bottom: 0rem;
  }

  .dashboard__dashboard-options {
    margin-top: 1rem;
  }

  .dashboard__dashboard-options-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 8px 16px;
  }

  .dashboard__ai-select {
    font-size: 18px;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 375px) {
  .dashboard__dashboard-options-list {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

@media screen and (max-width: 320px) {
  .dashboard__dashboard-options-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}