.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 2rem;
    height: 80px;
}

.header__ai_dropdown {
    border: none;
    background-color: var(--background-color);
    color: #f8f9fa;
    padding: 1.1rem 1rem;
    border-radius: 0.25rem;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    width: 100%;
}

.header__credits {
    font-size: 16px;
    color: var(--text-color);
    border: 1px solid var(--text-color); /* Add border color */
    border-radius: 5px; /* Add border radius for rounded corners */
    padding: 0.75rem 0.75rem; /* Add padding for better appearance */
}

.header__user_icon {
    font-size: 16px;
    color: var(--text-color);
    cursor: pointer;
}