.user-subscription {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: var(--background-color);
}

.user-subscription__subscription-content {
    flex: 1;
    padding: 30px;
}

.user-subscription__header-content {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
}

.user-subscription__btn-purchase {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.user-subscription__btn-purchase:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
}

.user-subscription__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    height: fit-content;
    justify-content: space-between;
}

.user-subscription__header h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

.user-subscription__tab-components__tab1,
.user-subscription__tab-components__conatiner {
    display: flex;
    align-items: center;
}

.user-subscription__tab-components__conatiner {
    justify-content: flex-end;
}

.separator {
    margin: 1rem 1rem;
}

.btn-filter {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 8px 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-filter:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
}

.table-container {
    background-color: var(--background-color-2);
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 1rem;
}

.table-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color-2);
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 100%;
    color: var(--text-color);
}

.table-header span {
    flex: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
}

.table-row span {
    flex: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-color-2);
}

.table-row:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.table-row.success {
    background-color: #d4edda;
}

.table-row.fail {
    background-color: #f8d7da;
}

.table-row.success span {
    color: #155724;
}

.table-row.fail span {
    color: #721c24;
}

.table-row a {
    color: var(--hover-color);
    text-decoration: none;
}

.user-subscription__subscription-title {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
    color: var(--text-color);
}

.user-subscription__tab-components {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.calendar-transition-enter {
    opacity: 0;
    transform: translateY(-20px);
}

.calendar-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.calendar-transition-exit {
    opacity: 1;
    transform: translateY(0);
}

.calendar-transition-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
}

@media (max-width: 480px) {
    .user-subscription__subscription-content {
        padding: 15px;
    }

    .user-subscription__subscription-title {
        font-size: 1.3rem;
    }

    .user-subscription__btn-purchase {
        font-size: 1.2rem;
        padding: 6px 12px;
    }

    .user-subscription__header h2 {
        font-size: 1.5rem;
    }

    .table-header span,
    .table-row span {
        font-size: 0.8rem;
    }

    .table-container {
        padding: 0.5rem;
    }

    .table-header {
        padding: 0.2rem;
        margin-bottom: 0.5rem;
    }

    .table-row {
        padding: 0.3rem;
        margin-bottom: 0.3rem;
    }
}


.dashboard__ai-selection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}