.fXVDSd {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    line-height: 2.75rem;
    font-size: 2.25rem;
    letter-spacing: 0;
    font-weight: 500;
    color: #444746;
}

.fXVDSd .Il0RC .anltQe {
    background-size: 100% 100%;
    opacity: 1;
    transform: translate(0px, 0px);
}

.fXVDSd .Il0RC .AEw3ne {
    background-size: 0% 100%;
    opacity: 0;
    transform: translate(20px, 0px);
}