.project_card {
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

.project_card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-4px);
}

.project_card__project_date,
.project_card__project_type,
.project_card__project_topic,
.project_card__project_length,
.project_card__project_description {
    margin-bottom: 10px;
}

.project_card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project_card__project_date {
    font-weight: bold;
    color: var(--text-color-2);
    text-align: right;
    font-size: 12px;
}

.project_card__project_type {
    font-size: 12px;
    color: #8e44ad;
    font-weight: 700;
    text-transform: uppercase;
}

.project_card__project_topic {
    font-size: var(--font-size-base);
    font-weight: bold;
    color: var(--text-color);
    text-overflow: ellipsis;
    overflow: hidden;
}

.project_card__project_length {
    font-size: var(--font-size-base);
    color: var(--text-color-2);
    text-transform: uppercase;
}

.project_card__project_description {
    font-size: var(--font-size-base);
    color: var(--text-color-2);
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project_card__gradient_overlay {
    background-image: linear-gradient(135deg, #8e44ad 0%, #2c3e50 100%);
    opacity: 0.15;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    z-index: -1;
}

@media (max-width: 480px) {
    .project_card {
        padding: 15px;
    }

    .project-card__project-type {
        font-size: 12px;
    }

    .project_card__project_topic {
        font-size: 16px;
    }

    .project_card__project_length {
        font-size: 12px;
    }

    .project_card__project_description {
        font-size: 12px;
    }
}